/* estilos generales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
    font-size: 1.5rem;
    color: #fff;

}
h2{
    font-size: 0.7rem;
    color: #fff;
}
/* seccion hero */
.hero{
    background-color: #1b1b32;
    min-width: 350px;
    min-height: 300px;
    text-align: center;
    z-index: 2;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    

}

.hero-principal .imagen-portada{
    background-size: cover;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
}

.hero-principal{
    padding: 3rem;
}
.accordion{
    width: 100%;

}

.about-container{
    height: 500px;
    padding: 10px;
    text-align: center;
    background-color: #1b1b32;
}
.about-container h1,p{
    color: #fff
    ;
}
.card-text{
    color: #000;
}
.test{
    
    /* /* width: 100px; */
    min-width: 55px;
    height: 120px;
}
.test img{
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #c62d8f ;
}
.test p{
    color: #000;
    font-size: 12px;
    /* con este codigo css no deja que se apile el text */
    white-space: nowrap;
    text-overflow: ellipsis;
    /* tener en cuenta proximos proyectos */
    text-align: center;
    font-weight: bold;
    width: 90%;
    overflow: hidden;
    overflow-y: hidden;
}
.estados{
    color: #000;
    border: 1px solid rgba(219, 219, 219, 1);
    overflow: hidden;
    height:130px;
    min-width: 350px;
}
@media screen and (max-width: 373px){
    h1{
        font-size: 1rem;
    
    }
    h2{
        font-size: 0.7rem;
    }
    /* .test img {
        background-size: cover;
    } */
}
@media screen and (min-width: 879px){
    .estados{
        height: 220px;
    }
    .test p{
        overflow-y: visible;
        overflow: visible;
    }
}