/* estilos generales */
#shop{
    position: absolute;
    right: 20%;
}
.offcanvas{
    --bs-offcanvas-width:330px;
}

.offcanvas-backdrop{
    min-width: 350px;
    min-height: 2040px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
    font-size: 1.5rem;
    color: #fff;

}
h2{
    font-size: 0.7rem;
    color: #fff;
}
/* seccion hero */
.hero{
    background-color: #1b1b32;
    min-width: 350px;
    min-height: 300px;
    text-align: center;
    z-index: 2;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    

}

.hero-principal .imagen-portada{
    background-size: cover;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    
}

.hero-principal{
    padding: 3rem;
}
.accordion{
    width: 100%;

}

.about-container{
    height: 400px;
    padding: 10px;
    text-align: center;
    background-color: #1b1b32;
    margin-top: 14rem;
}
.about-container h1,p{
    color: #fff
    ;
}
.card-text{
    color: #000;
}
.test{
    
    /* /* width: 100px; */
    min-width: 55px;
    max-height: 600px;

}
.test img{
    object-fit: cover;
    border-radius: 4%;
    border: 1px solid #c62d8f ;
}
.test p{
    color: #000;
    font-size: 12px;
    /* con este codigo css no deja que se apile el text */
    white-space: nowrap;
    text-overflow: ellipsis;
    /* tener en cuenta proximos proyectos */
    text-align: center;
    font-weight: bold;
    width: 90%;
    overflow: hidden;
    overflow-y: hidden;
}
.estados{
    color: #000;
    border: 1px solid rgba(219, 219, 219, 1);
    overflow: hidden;
    min-height: 200px;
    min-width: 350px;
}
.about-container .container{

    max-width: 1100px;
    max-height: 600px;
    padding: 20px;
}
.about-container .rectangulo{
    margin-top: -14rem;
    background-color: #2D033B;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px #E5B8F4;
}
.about-container .row{
    width: 100%;
    display: flex;
    align-items:center ;
}
.about-container .descripcion{
    color: white;
    font-size: 1.2rem;
}
.about-container button{
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 1.25em  2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}
.about-container button i{
    color: #fff;
    font-size: 1.2rem;
    transition: all 0.2s ease-in-out;
}
.about-container button:hover{
    background-color: #2D033B;
    color: #c62d8f;
    border: 2px solid #c62d8f;
}
.about-container button:hover i{
    color: #c62d8f;
}
.offcanvas-body{
    padding: 0;
}
.Total{
    color: #000;
}
.cantidadTotalDeLacompra{
    background-color: #cff4fc;
}

@media screen and (max-width: 373px){
    h1{
        font-size: 1rem;
    
    }
    h2{
        font-size: 0.7rem;
    }
    /* .test img {
        background-size: cover;
    } */
}

@media screen and (min-width: 879px){
    .test p{
        overflow-y: visible;
        overflow: visible;
    }
}

@media screen and (max-width: 317px){

    #shop{
        right: -10%;
    }

}

@media  screen and (min-width: 460px) {

    #shop{
        right: 15%;
    }
}